{% extends 'base.html' %}
{# {% load static bootstrap4 %} #}

{% block page_title %}Главная{% endblock %}
{% block breadcrumbs %}{% endblock %}

{#{% block page_name %}Датасеты{% endblock %}#}
{##}
{#{% block breadcrumbs %}#}
{#    <li class="breadcrumb-item"><a href="/">Главная</a></li>#}
{#    <li class="breadcrumb-item active">Датасеты</li>#}
{#{% endblock %}#}
{##}
{#{% load render_table from django_tables2 %}#}
{##}
{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <div class="mb-4 text-right">#}
{#                        <a href="{% url 'dataset_create' %}" class="btn btn-primary">Загрузить новый датасет <i class="fas fa-plus ml-2"></i></a>#}
{#                    </div>#}
{#                    <div class="table table-striped pb-4">#}
{#                        {% render_table table %}#}
{#                    </div>#}
{#                </div>#}
{#                &lt;!&ndash; /.card-body &ndash;&gt;#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}
